{{- define "main" }}
{{- $pages := .Pages }}
<main class="list">
  {{- range $pages }}
  <article class="post-entry">
    <header class="entry-header">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </header>
    <section class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}</p>
    </section>
    <footer class="entry-footer">
      <span>
        {{ .Date.Format "January 2006" }}
        {{ with .Params.editPost.Text }} · <strong><em>{{ . }}</em></strong> · {{ end }}
        {{ range $index, $author := .Params.author }}{{ if $index }}, {{ end }}{{ if eq $author "Ava Francesca Battocchio" }}<strong>{{ $author }}</strong>{{ else }}{{ $author }}{{ end }}{{ end }}
      </span>
    </footer>
  </article>
  {{- end }}
</main>
{{- end }}
